<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/pen-marker-sketch.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="oval" src="assets/img/logo.jpg" alt="">
                <h1 class="h1-seo">Oddly Specific</h1>
                <h3>Art by Jordan Richter.</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <img src="assets\img\face.jpg" class="img-raised" style="width:50%;height:50%;border:10;">
            <a href="gallery" class="centered" style="text-decoration: underline;">GALLERY</a>
        </div>
        <div class="h1"></div>
        <div class="container">
            <img src="assets\img\lake-house.jpg" class="img-raised" style="width:50%;height:50%;border:10">
            <a href="https://www.creative-tim.com" class="centered" style="text-decoration: underline;">SHOP</a>
        </div>
        <div class="h1"></div>
        <div class="container">
            <img src="assets\img\house-card.jpg" class="img-raised" style="width:50%;height:50%;border:10">
            <a href="./../examples/profile" class="centered" style="text-decoration: underline;">CUSTOM WORK</a>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Custom Work
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}},
                <a href="https://www.invisionapp.com" target="_blank">Oddly Specific</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Austin Konsor</a>.
            </div>
        </div>
    </footer>
</div>